

*{
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    
   
}

.header__logo{
    
    font-size: 24px;
    padding: 14px 50px 14px 20px;
    color: #f85555;
    
     
}

.header__nav{
    display: flex;
    justify-content: center;
   
    
}



.header__list{
  display: flex;
 
    
}

.header__icon{
    padding: 20px;
    font-size: 20px;
    opacity: .4;
    background: none;
    border: none;
    text-align: center;
    
    
}

/*Search*/

.search__container{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    margin-top: 2em;
}

.search__text {
    display: inline-block;
   padding: 10px 10px;
   font-size: 1rem;
   border: none;
   
}

.search__label{
    background-color: #f85555;
    padding: 20px 20px;
   
}

.fa-magnifying-glass{
    color: white;
}




/*.search__text input[type=text], select{
  padding: 10px 10px;
  font-size: 1.2rem;
}*/

@media (min-width: 900px ) {
    .header{
        border: 1px solid #c7c7c7;
    }

    .header__logo{
      
       
    }
    .header__nav{
      
    }

    .header__icon{
        border-left: 1px solid black;
       

        
        
    }
    .header__item{
       
        padding: 0 14px 0 14px;
        
    }
    .header__list{
       
    }


}